{% extends 'base.html' %}

 {% block title%}contect{% endblock title%}
 
{% block body %}
<div class="container-fluid px-0">
    <img src="http://source.unsplash.com/1200x400/?nature,waters" class="d-block w-100 my-4" alt="...">
</div>
<div class="container">
<h2 class="text-center">Contact-US</h2>
<form method ='POST'  action='/contact'>
  {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" name="name"  id="name" placeholder="Enter the name" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email id</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email " id="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">phone number</label>
        <input type="text" class="form-control" name="phone"placeholder="Enter the phome number" id="phone">
      </div>
      <div class="mb-3">
        <label for"desc" class="form-label">please entre th reason why me contact me</label>
        <textarea type="text" class="form-control" name="desc" row="3"  id="desc" aria-describedby="emailHelp">
        </textarea>
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock body %}

